

.body {
    background-color: white;
    height:1000px;
    width:1000px;
}

.photos img{
max-width:300px;
max-height:400px;
}


 #connie1,#connie2{
  width: 20px;
  height: 20px;
  position: absolute;
}

#rocio1, #rocio2{
  width: 20px;
  height: 20px;
  position: absolute;
}

#kim1, #kim2, #kim3, #kim4, #kim5 #dogma{
  width: 20px;
  height: 20px;
  position: absolute;
}

#kim1, #kim2, #kim3, #kim4, #kim5{
  width: 20px;
  height: 20px;
  position: absolute;
}

#dogma, #white{
  width: 20px;
  height: 20px;
  position: absolute;
}

/*
#connie1 {
  top: 50px;
  left: 50px;
} */



/* #x {
  max-width: 5000px;
  max_height: 5000px;
    position: relative;
}

/* #x .icon { */
/* .icon {
  max-width: 17em;
  max-height: 17em;
    position: absolute;
    z-index: 2;
} */



/*
.image{
height:100vh;
width:100vw;
background-color:blue;
} */
