

.body {
    background-color: white;
    height:600px;
    width:600px;
}

.photos {
max-width:vw;
max-height:vh;
top: 10px;
}

.photos img{
max-width:300px;
max-height:400px;
}

#white{
   x:0;
   y:0;
   height:400px; 
}

#amina1, #aobject1, #aobject2, #aobject3, #aobject4, #aobject5{
  width: 20px;
  height: 20px;
  position: absolute;

}

 #connie1,#connie2,#connie3,#connie4,#cobject1{
  width: 20px;
  height: 20px;
  position: absolute;
  
}

#rocio1, #rocio2, #rocio3, #rocio4, #robject1, #robject2, #robject3{
  width: 20px;
  height: 20px;
  position: absolute;

}

#kim1, #kim2, #kim3, #kim4, #kim5{
  width: 20px;
  height: 20px;
  position: absolute;

}


#dogma{
  width: 20px;
  height: 20px;
  position: absolute;

}

/*
#connie1 {
  top: 50px;
  left: 50px;
} */



/* #x {
  max-width: 5000px;
  max_height: 5000px;
    position: relative;
}

/* #x .icon { */
/* .icon {
  max-width: 17em;
  max-height: 17em;
    position: absolute;
    z-index: 2;
} */



/*
.image{
height:100vh;
width:100vw;
background-color:blue;
} */
